.duelo {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 20px;
  color: #fff;
}
.oponente,
.jogador {
  align-self: center;
  justify-self: center;
  text-align: center;
}
.oponente > button,
.jogador > button {
  padding: 50px;
  border-radius: 50%;
  z-index: 2;
  outline: none;
  cursor: pointer;
  margin-top: 50px;
  border: 20px solid hsl(349, 71%, 52%);
}
.play {
  margin-top: 30px;
  align-self: center;
  justify-self: center;
}

.play h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}
.play button {
  padding: 10px 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  color: hsl(237, 49%, 15%);
}
@media (max-width: 800px) {
  .duelo {
    grid-template-columns: 1fr 1fr;
  }
  .play {
    order: 2;
    grid-column: span 2;
    align-self: center;
    justify-self: center;
  }
}
