.original {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
  position: relative;
}
.original > img {
  position: absolute;
  align-self: center;
  justify-self: center;
}

.mao {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.mao.scissors {
  grid-column: span 2;
}

.mao > button {
  padding: 50px;
  border-radius: 50%;
  z-index: 2;
  outline: none;
  cursor: pointer;
}

.mao.scissors > button {
  border: 20px solid hsl(349, 71%, 52%);
}
.mao.paper > button {
  border: 20px solid hsl(39, 89%, 49%);
}
.mao.rock > button {
  border: 20px solid hsl(230, 89%, 62%);
}
