* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5px;
}
.btns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin: 10px 0;
  width: 100%;
  max-width: 800px;
}
